.mainContainer {
  background-color: white;
  margin-inline: 30%;
  padding-block: 20px;
  border-radius: 10px;
  padding-inline: 30px;
  margin-top: 100px;
}
.key-container {
  background-color: var(--key-container-bkground);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  overflow: hidden;
}
.title {
  font-weight: bold;
  color: black;
  margin-top: 0px;
  margin-bottom: 10px;
  align-self: flex-start;
}
.text {
  margin-bottom: 10px;
  text-align: start;
  margin-bottom: 30px;
  margin-top: 20px;
}
.api-key {
  margin-inline-start: 20px;
  margin-block: 0px;
}
