.main-container {
  padding: 20px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  display: "flex";
}
.buttons-container {
  margin-inline: 16%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
