.version-number {
  background-color: rgb(234, 231, 231);
  color: #8b919c;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  /* padding: 1px; */
}
p {
  line-height: 2;
  font-weight: 600;
}
