.main-container-home {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.versions-button {
  background-color: rgb(56, 56, 225);
  color: white;
}
.card-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
  padding: 50px;
  border-radius: 20px;
  background-color: white;
}
